<div class="col-md-9">
  <table class="table col-lg-9">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Team</th>
      <th scope="col">Players</th>
      <th scope="col">Country</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Team 1</td>
      <td>5</td>
      <td>India</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Team 2</td>
      <td>6</td>
      <td>France</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Team 3</td>
      <td>7</td>
      <td>USA</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Team 4</td>
      <td>9</td>
      <td>Germany</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Team 5</td>
      <td>7</td>
      <td>Italy</td>
    </tr>
    </tbody>
  </table>
</div>
