<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item">
        <ul class="nav nav-pills nav-stacked">
          <li [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"><a routerLink="/players/details">Player Details</a></li>
        </ul>
      </li>
      <li class="list-group-item">
        <ul class="nav nav-pills nav-stacked">
          <li [routerLinkActiveOptions]="{ exact: false }" routerLinkActive="active"><a [routerLink]="['/players/teams']">Teams</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
<a [routerLink]= "['/dashboard']" >View Dashboard</a> |
<a [routerLink]= "['/players', 8, 'view']" [queryParams]="{id:999, name:'Sunny'}" [fragment]="'testing999'">View players</a> |
<a href="javascript:void(0)" (click)="viewPlayers()">View players (Script)</a>
